body{
    background-image: url("images\bodybkg.gif");
  }









  
/*div.fdiv{
    border: 1px solid snow;
    width:950px;
    margin-left: auto;
    margin-right: auto;
}
h1.col{
    color: #D6A965;
    text-shadow: 1px 1px 3px black;
    font-size: 50px;
}
li{
    display: inline;
    
}
.na{
    color: rosybrown;
    margin-left: 60px;
    margin-right: 60px;
    text-decoration: none;
}
div.nav{
border:1px solid black;
background-color:#271408;
border-radius: 12px;
}
h1{
    background-image: url("images/1-thumb.jpg");
}*/